.firstBlock {
  background-color: white;
  padding: 0 70px 47px 70px;
  width: 100%;
  aspect-ratio: 1920 / 1115;
  display: flex;
  align-items: center;
  flex-direction: column;

  .logoContainer {
    flex: 1;
    justify-content: center;
    align-items: center;
    display: flex;
    .logo {
      width: auto;
      aspect-ratio: 1113 / 302;
      max-width: 80%;
      opacity: 1;
    }
  }

  .smallLogoContainer {
    display: flex;
    justify-self: end;
    position: relative;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    .smallLogo {
      width: 368px;
      height: 46px;
      aspect-ratio: 383/123;
      opacity: 1;
      margin-right: 20px;
    }

    .navMenu {
      display: flex;
      width: auto;
      flex-wrap: wrap;
      justify-content: space-between;
      // flex: 1;
      gap: 73px;
    }

    .navLink {
      font-family: 'Questrial', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 25px;
      color: #000000;
      text-decoration: none;
      text-transform: uppercase;

      &:hover {
        opacity: 0.7;
      }
    }
  }
}

@media (max-width: 1440px) {
  .firstBlock {
    padding: 0 52px 35px 52px;

    .smallLogoContainer {
      .smallLogo {
        width: 276px;
        height: 35px;
        margin-right: 15px;
      }

      .navMenu {
        width: auto;
        gap: 40px;
      }

      .navLink {
        font-size: 16px;
        line-height: 18px;
      }
    }
  }
}

@media (max-width: 1024px) {
  .firstBlock {
    padding: 0 35px 24px 35px;

    .smallLogoContainer {
      .smallLogo {
        width: 221px;
        height: 28px;
        margin-right: 12px;
      }

      .navMenu {
        width: auto;
        gap: 30px;
      }

      .navLink {
        font-size: 12px;
        line-height: 14px;
      }
    }
  }
}

// @media (max-width: 768px) {
//   .firstBlock {
//     padding: 0 20px 19px 20px;

//     .smallLogoContainer {
//       .smallLogo {
//         width: 147px;
//         height: 18px;
//         margin-right: 8px;
//       }

//       .navMenu {
//         width: auto;
//         flex-direction: column;
//         gap: 20px;
//       }

//       .navLink {
//         font-size: 9px;
//         line-height: 11px;
//       }
//     }
//   }
// }

@media (max-width: 768px) {
  .firstBlock {
    padding: 0 15px 14px 15px;
    aspect-ratio: 1920/2215;

    .smallLogoContainer {
      flex-direction: column;
      align-items: flex-start;
      gap: 15px;

      .smallLogo {
        // height: 20px;
        aspect-ratio: 383/123;
        margin-right: 0;
        order: 2; // Логотип будет снизу
      }

      .navMenu {
        width: 100%;
        flex-direction: column;
        gap: 15px;
        order: 1; // Меню будет сверху
      }

      .navLink {
        font-size: 18px;
        font-weight: 600;
        line-height: 24px;
        text-align: center;
      }
    }
  }
}

