.fifthBlock {
  position: relative;
  width: 100%;
  background: #EFF1F4;
  padding: 70px 70px 140px 70px;
  display: flex;
  flex-direction: column;

  .servicesTitle {
    color: #000000;
    font-family: Questrial;
    font-weight: 400;
    font-style: Regular;
    font-size: 52px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
    padding: 0;
    display: inline-block;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    will-change: transform, opacity;
  }

  .servicesList {
    flex: 1;
    display: flex;
    flex-direction: row;
    gap: 45px;
    position: relative;
    padding-left: 0;
    justify-content: space-between;

    .serviceItem {
      display: flex;
      flex-direction: column;
      flex: 1;

      .serviceImage {
        width: 100%;
        height: auto;
        object-fit: cover;
        margin-bottom: 41px;
      }

      .serviceHeader {
        display: flex;
        align-items: flex-start;
        // gap: 20px;
        cursor: pointer;
        margin-bottom: 27px;

        .serviceTitle {
          font-family: Questrial, sans-serif;
          font-weight: 400;
          font-style: Regular;
          font-size: 72px;
          line-height: 100%;
          letter-spacing: 0%;
          text-transform: uppercase;
          color: #000000;
          margin: 0;
          padding: 0;
          flex: 1;
          word-break: normal;
          overflow-wrap: normal;
          white-space: normal;
        }

        .numberWrapper {
          display: flex;
          flex-direction: column;
          height: 100%;
          justify-content: space-between;
          align-items: center;

          .number {
            font-family: Questrial;
            font-weight: 400;
            font-size: 40px;
            line-height: 100%;
            color: #000000;
            text-transform: uppercase;
          }

          .arrowRight {
            width: 51px;
            height: 53px;
            flex-shrink: 0;
            transition: transform 0.3s ease;
            
            &.arrowDown {
              transform: rotate(90deg);
            }
          }
        }
      }

      .serviceItems {
        list-style: none;
        padding: 0;
        margin: 0;
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        transition: max-height 0.5s ease, opacity 0.5s ease;
        
        &.serviceItemsOpen {
          max-height: 2000px;
          opacity: 1;
        }
        
        .serviceItemText {
          font-family: Questrial, sans-serif;
          color: #000000;
          position: relative;
          padding-left: 60px;
          word-wrap: break-word;
          overflow-wrap: break-word;
          white-space: normal;
          font-weight: 400;
          font-style: Regular;
          font-size: 40px;
          line-height: 45px;
          letter-spacing: 0%;
          text-transform: lowercase;
          margin-bottom: 40px;

          
          &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 11px;
            height: 11px;
            background-color: #000000;
          }
        }
      }
    }
  }
}

// Media до 1890px
@media (max-width: 1890px) {
  .fifthBlock {
    .servicesList {
      .serviceItem {
        .serviceImage {
          width: 100%;
          height: auto;
        }

        .serviceHeader {
          .serviceTitle {
            font-size: 55.404px;
          }

          .numberWrapper {
            .number {
              font-size: 30.76px;
            }

            .arrowRight {
              width: 39.219px;
              height: 40.757px;
            }
          }
        }

        .serviceItems {
          .serviceItemText {
            font-size: 30.78px;
            line-height: 34.6275px;
            padding-left: 46.17px;
            margin-bottom: 30.78px;

            &::before {
              width: 8.4645px;
              height: 8.4645px;
            }
          }
        }
      }
    }
  }
}

// Desktop
@media (min-width: 1025px) and (max-width: 1440px) {
  .fifthBlock {
    .servicesList {
      .serviceItem {
        .serviceImage {
          width: 100%;
          height: auto;
        }

        .serviceHeader {
          .serviceTitle {
            font-size: 40.260857px;
          }

          .numberWrapper {
            .number {
              font-size: 22.36px;
            }

            .arrowRight {
              width: 28.51767px;
              height: 29.63601px;
            }
          }
        }

        .serviceItems {
          .serviceItemText {
            font-size: 22.369365px;
            line-height: 25.165535625px;
            padding-left: 33.5540475px;
            margin-bottom: 22.369365px;

            &::before {
              width: 6.151575375px;
              height: 6.151575375px;
            }
          }
        }
      }
    }
  }
}

// Small Desktop
@media (min-width: 769px) and (max-width: 1024px) {
  .fifthBlock {
    .servicesList {
      .serviceItem {
        .serviceImage {
          width: 100%;
          height: auto;
        }

        // Уменьшаем margin-top на 30% для первого и второго элемента
        &:nth-child(1) .serviceImage {
          margin-top: 151.2px !important;
        }

        &:nth-child(2) .serviceImage {
          margin-top: 75.6px !important;
        }

        .serviceHeader {
          .serviceTitle {
            font-size: 24.7080879409px;
          }

          .numberWrapper {
            .number {
              font-size: 13.72px;
            }

            .arrowRight {
              width: 17.501294079px;
              height: 18.187619337px;
            }
          }
        }

        .serviceItems {
          .serviceItemText {
            font-size: 13.7280793005px;
            line-height: 15.4440792130625px;
            padding-left: 20.59211895075px;
            margin-bottom: 13.7280793005px;

            &::before {
              width: 3.7752178071625px;
              height: 3.7752178071625px;
            }
          }
        }
      }
    }
  }
}

// Tablet
@media (min-width: 481px) and (max-width: 768px) {
  .fifthBlock {
    .servicesList {
      flex-direction: column;
      align-items: center;
    }
  }
}

// Mobile
@media (max-width: 480px) {
  .fifthBlock {
    .servicesTitle {
      font-size: 31.2px;
      margin-bottom: 40px;
    }

    .servicesList {
      flex-direction: column;
      align-items: center;

      .serviceItem {
        // Увеличиваем специфичность селектора
        img.serviceImage {
          width: 100%;
          height: auto;
          margin-top: 10px !important;
        }
      }

      // Дополнительный селектор с увеличенной специфичностью
      .servicesList .serviceItem img.serviceImage {
        width: 100%;
        height: auto;
        margin-top: 10px !important;
      }

      .serviceItem {

        // Уменьшаем margin-top на 40% дополнительно
        &:nth-child(1) .serviceImage {
          margin-top: 103.68px !important;
        }

        &:nth-child(2) .serviceImage {
          margin-top: 51.84px !important;
        }

        .serviceHeader {
          .serviceTitle {
            font-size: 34.56px;
          }

          .numberWrapper {
            height: auto;
            align-self: flex-start;
            min-height: 100px;

            .number {
              font-size: 19.2px;
            }

            .arrowRight {
              width: 24.48px;
              height: 25.44px;
            }
          }
        }

        .serviceItems {
          .serviceItemText {
            font-size: 19.2px;
            line-height: 21.6px;
            padding-left: 28.8px;
            margin-bottom: 19.2px;

            &::before {
              width: 5.28px;
              height: 5.28px;
            }
          }
        }
      }
    }
  }
}
