.fifthBlock {
  position: relative;
  width: 100%;
  aspect-ratio: 1923 / 1696;
  background: #EFF1F4;
  padding: 70px 70px 140px 70px;
  display: flex;
  flex-direction: column;
}

.servicesTitle {
  color: #000000;
  font-family: Questrial;
  font-weight: 400;
  font-style: Regular;
  font-size: 52px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  margin: 0 0 193px 0;
  padding: 0;
  display: inline-block;
  
  .char {
    display: inline-block;
    transform-origin: center;
  }
}

.servicesList {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0;
  position: relative;
  padding-left: 0;

  
  // Вертикальная линия слева
  // &::before {
  //   content: '';
  //   position: absolute;
  //   left: 0;
  //   top: 0;
  //   bottom: 0;
  //   width: 2px;
  //   background-color: #B0D4E8;
  // }
}

.serviceItem {
  margin-bottom: 0;
  position: relative;
  margin-top: -45px;


  &.serviceItemActive {
    border-left: 1px solid #000000;
    
    .serviceHeader {
      align-items: start;
    }
    
    .serviceTitle {
      font-size: 128px;
      line-height: 130px;
    }
    //dsfadf
    // &::before {
    //   content: '';
    //   position: absolute;
    //   left: 0;
    //   top: 0;
    //   bottom: 0;
    //   width: 1px;
    //   background-color: black;
    // }
  }
}

.serviceHeader {
  display: flex;
  align-items: start;
  gap: 140px;
  cursor: pointer;
  padding: 40px 0  20px 30px;
  position: relative;
  width: 100%;
  border-top: 1px solid #000000;
  background: rgba(239, 241, 244, 1);

  &.serviceHeaderInactive {
    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 1px;
      height: 30%;
      background-color: black;
    }
  }
}

.number {
  font-family: Questrial;
  font-weight: 400;
  font-style: Regular;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 1);
  align-self: baseline;
}


.serviceTitle {
  font-family: 'Questrial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 82px;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  flex: 1;
  min-width: 0;
  display: inline-block;
  
  .char {
    display: inline-block;
  }
}

.arrowRight {
  width: 51px;
  height: 53px;
  flex-shrink: 0;
  margin-left: auto;
  transition: transform 0.3s ease;
  
  &.arrowDown {
    transform: rotate(90deg);
  }
}

.serviceItems {
  list-style: none;
  padding: 0;
  margin: 0px 0 0 180px;
  padding-left: 20px;
  
  .serviceItemText {
    font-family: 'Questrial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 68px;
    line-height: 90px;
    text-transform: lowercase;
    color: #000000;
    margin-bottom: 0;
    position: relative;
    padding-left: 60.99px;
    
    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 10.99px;
      height: 10.99px;
      background-color: rgba(0, 0, 0, 1);
      border-radius: 50%;
    }
  }
}
