.fifthBlock {
  position: relative;
  width: 100%;
  aspect-ratio: 1923 / 1696;
  background: #EFF1F4;
  padding: 70px 70px 140px 70px;
  display: flex;
  flex-direction: column;
}

.servicesTitle {
  color: #000000;
  font-family: Questrial;
  font-weight: 400;
  font-style: Regular;
  font-size: 52px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  margin: 0 0 193px 0;
  padding: 0;
  display: inline-block;
  
  .char {
    display: inline-block;
    transform-origin: center;
  }
}

.servicesList {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0;
  position: relative;
  padding-left: 0;

  
  // Вертикальная линия слева
  // &::before {
  //   content: '';
  //   position: absolute;
  //   left: 0;
  //   top: 0;
  //   bottom: 0;
  //   width: 2px;
  //   background-color: #B0D4E8;
  // }
}

.serviceItem {
  margin-bottom: 0;
  position: relative;
  margin-top: -45px;
  scroll-margin: 0;
  scroll-padding: 0;


  &.serviceItemActive {
    border-left: 1px solid #000000;
    
    .serviceHeader {
      align-items: start;
    }
    
    .serviceTitle {
      font-size: 128px;
      line-height: 130px;
    }
    //dsfadf
    // &::before {
    //   content: '';
    //   position: absolute;
    //   left: 0;
    //   top: 0;
    //   bottom: 0;
    //   width: 1px;
    //   background-color: black;
    // }
  }
}

.serviceHeader {
  display: flex;
  align-items: start;
  gap: 140px;
  cursor: pointer;
  padding: 40px 0  20px 30px;
  position: relative;
  width: 100%;
  border-top: 1px solid #000000;
  background: rgba(239, 241, 244, 1);

  &.serviceHeaderInactive {
    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 1px;
      height: 30%;
      background-color: black;
    }
  }
}

.number {
  font-family: Questrial;
  font-weight: 400;
  font-style: Regular;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 1);
  align-self: baseline;
}


.serviceTitle {
  font-family: 'Questrial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 82px;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  flex: 1;
  min-width: 0;
  display: inline-block;
  
  .char {
    display: inline-block;
  }
}

.arrowRight {
  width: 51px;
  height: 53px;
  flex-shrink: 0;
  margin-left: auto;
  transition: transform 0.3s ease;
  
  &.arrowDown {
    transform: rotate(90deg);
  }
}

.serviceItems {
  list-style: none;
  padding: 0;
  margin: 0px 0 0 180px;
  padding-left: 20px;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.5s ease, opacity 0.5s ease;
  scroll-margin: 0;
  scroll-padding: 0;
  
  &.serviceItemsOpen {
    max-height: 2000px;
    opacity: 1;
    
    .serviceItemText {
      opacity: 1;
      transform: translateY(0);
      
      &:nth-child(1) { transition-delay: 0.08s; }
      &:nth-child(2) { transition-delay: 0.16s; }
      &:nth-child(3) { transition-delay: 0.24s; }
      &:nth-child(4) { transition-delay: 0.32s; }
      &:nth-child(5) { transition-delay: 0.40s; }
      &:nth-child(6) { transition-delay: 0.48s; }
      &:nth-child(7) { transition-delay: 0.56s; }
      &:nth-child(8) { transition-delay: 0.64s; }
    }
  }
  
  .serviceItemText {
    font-family: 'Questrial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 68px;
    line-height: 90px;
    text-transform: lowercase;
    color: #000000;
    margin-bottom: 0;
    position: relative;
    padding-left: 60.99px;
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
    
    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 10.99px;
      height: 10.99px;
      background-color: rgba(0, 0, 0, 1);
      border-radius: 50%;
    }
  }
}

// Large Desktop
@media (min-width: 1441px) and (max-width: 1800px) {
  .fifthBlock .servicesList .serviceItem .serviceHeader .serviceTitle {
    font-size: 70px !important;
    line-height: 82px !important;
  }
  
  .fifthBlock .servicesList .serviceItem.serviceItemActive .serviceHeader .serviceTitle {
    font-size: 108px !important;
    line-height: 130px !important;
  }
  
  .fifthBlock .servicesList .serviceItem .serviceItems li.serviceItemText {
    font-size: 58px !important;
    line-height: 90px !important;
  }
}

// Desktop
@media (min-width: 1025px) and (max-width: 1440px) {
  .fifthBlock .servicesList .serviceItem .serviceHeader .serviceTitle {
    font-size: 45px !important; // 70px - 5px
    line-height: 57px !important; // 82px - 5px
  }
  
  .fifthBlock .servicesList .serviceItem.serviceItemActive .serviceHeader .serviceTitle {
    font-size: 63px !important; // 108px - 5px
    line-height: 85px !important; // 130px - 5px
  }
  
  .fifthBlock .servicesList .serviceItem .serviceItems li.serviceItemText {
    font-size: 43px !important; // 58px - 5px
    line-height: 65px !important; // 90px - 5px
  }
  .fifthBlock .servicesList .serviceItem .serviceHeader {
    gap: 60px !important;
  }
}

// Small Desktop
@media (min-width: 769px) and (max-width: 1024px) {
  .fifthBlock .servicesList .serviceItem .serviceHeader {
    gap: 50px !important;
  }
  
  .fifthBlock .servicesList .serviceItem .serviceHeader .serviceTitle {
    font-size: 40px !important; // 70px - 10px
    line-height: 42px !important; // 82px - 10px
  }
  
  .fifthBlock .servicesList .serviceItem.serviceItemActive .serviceHeader .serviceTitle {
    font-size: 59px !important; // 108px - 10px
    line-height: 60px !important; // 130px - 10px
  }
  
  .fifthBlock .servicesList .serviceItem .serviceItems li.serviceItemText {
    font-size: 38px !important; // 58px - 10px
    line-height: 50px !important; // 90px - 10px
  }
}

// Tablet
@media (min-width: 481px) and (max-width: 768px) {
  .fifthBlock .servicesList .serviceItem .serviceHeader {
    gap: 40px !important;
  }
  .fifthBlock .servicesList .serviceItem .serviceHeader .serviceTitle {
    font-size: 25px !important; // 70px - 15px
    line-height: 35px !important; // 82px - 15px
  }
  
  .fifthBlock .servicesList .serviceItem.serviceItemActive .serviceHeader .serviceTitle {
    font-size: 33px !important; // 108px - 15px
    line-height: 50px !important; // 130px - 15px
  }
  
  .fifthBlock .servicesList .serviceItem .serviceItems li.serviceItemText {
    font-size: 25px !important; // 58px - 15px
    line-height: 35px !important; // 90px - 15px
  }
}

// Mobile
@media (max-width: 480px) {
  .fifthBlock .servicesList .serviceItem .serviceHeader .serviceTitle {
    font-size: 50px !important; // 70px - 20px
    line-height: 62px !important; // 82px - 20px
  }
  
  .fifthBlock .servicesList .serviceItem.serviceItemActive .serviceHeader .serviceTitle {
    font-size: 88px !important; // 108px - 20px
    line-height: 110px !important; // 130px - 20px
  }
  
  .fifthBlock .servicesList .serviceItem .serviceItems li.serviceItemText {
    font-size: 38px !important; // 58px - 20px
    line-height: 70px !important; // 90px - 20px
  }
}
