.secondBlock {
  position: relative;
  width: 100%;
  height: 98vh;
  // aspect-ratio: 1920 / 1617;
  background-image: url('../../../assets/png/block2.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 1;
  padding: 70px 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0;
  
  .firstRow {
    display: flex;
    justify-content: space-between;
  }

  .secondRow {
    display: flex;
    justify-content: space-between;
  }

  .arrowSvg {
    margin-top: 0;
    margin-left: 0;
    height: auto;
    width: 141px; // Базовый размер стрелки
    transform-origin: center center;
  }

  .eSvg {
    margin-top: 0;
    margin-left: 0;
    height: auto;
    width: 103.56px; // Базовый размер E
    transform-origin: center center;
  }

  .gSvg {
    margin-top: 0;
    margin-left: 0;
    height: auto;
    width: 135px; // Базовый размер G
    transform-origin: center center;
  }

  .aSvg {
    margin-top: 0;
    margin-left: 0;
    height: auto;
    width: 140px; // Базовый размер A
    transform-origin: center center;
  }
}

// Large Desktop
@media (min-width: 1441px) and (max-width: 1800px) {
  .secondBlock {
    .arrowSvg {
      width: 141px;
    }
    .eSvg {
      width: 103.56px;
    }
    .gSvg {
      width: 135px;
    }
    .aSvg {
      width: 140px;
    }
  }
}

// Desktop
@media (min-width: 1025px) and (max-width: 1440px) {
  .secondBlock {
    padding: 25px 52px;
    
    .arrowSvg {
      width: 121px; // 141px - 20px
    }
    .eSvg {
      width: 83.56px; // 103.56px - 20px
    }
    .gSvg {
      width: 115px; // 135px - 20px
    }
    .aSvg {
      width: 120px; // 140px - 20px
    }
  }
}

// Small Desktop
@media (min-width: 769px) and (max-width: 1024px) {
  .secondBlock {
    padding: 20px 35px;
    height: 50vh;

    .arrowSvg {
      width: 101px; // 141px - 40px
    }
    .eSvg {
      width: 63.56px; // 103.56px - 40px
    }
    .gSvg {
      width: 95px; // 135px - 40px
    }
    .aSvg {
      width: 100px; // 140px - 40px
    }
  }
}

// Tablet
@media (min-width: 481px) and (max-width: 768px) {
  .secondBlock {
    padding: 12px 18px;
    height: 50vh;
    
    .arrowSvg {
      width: 70px; // Уменьшено для планшетов
    }
    .eSvg {
      width: 52px; // Увеличено для читаемости
    }
    .gSvg {
      width: 65px; // Уменьшено для планшетов
    }
    .aSvg {
      width: 68px; // Уменьшено для планшетов
    }
  }
}

// Mobile
@media (max-width: 480px) {
  .secondBlock {
    padding: 20px;
    height: 50vh;
    // aspect-ratio: 1920/2217;
    
    .arrowSvg {
      width: 45px; // Уменьшено для мобильных
    }
    .eSvg {
      width: 33px; // Увеличено для читаемости
    }
    .gSvg {
      width: 40px; // Уменьшено для мобильных
    }
    .aSvg {
      width: 44px; // Уменьшено для мобильных
    }
  }
}

