.eighthBlock {
  position: relative;
  width: 100%;
  aspect-ratio: 1920 / 1200;
  background: #FFFFFF;
  display: flex;
  // align-items: center;
  padding-top: 150px;
  justify-content: center;
  
  &::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 2px;
    background-color: #B0D4E8;
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  // gap: 60px;
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
}

.title {
  font-family: 'Questrial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 52px;
  line-height: 59px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #818284;
  margin: 0 0 47px 0;
  padding: 0;
}

.writeUsButton {
  box-sizing: border-box;
  background: #FFFFFF;
  border: 2px solid #818284;
  border-radius: 80px;
  padding: 34px 65px;
  margin-bottom: 100px;
  font-family: Questrial;
  font-weight: 400;
  font-style: normal;
  font-size: 100px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #818284;
  cursor: pointer;
  transition: all 0.3s ease;
  
  &:hover {
    opacity: 0.7;
  }
}

.logoContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
  width: 100%;
  justify-content: center;
}

.logoText {
  font-family: Questrial;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #818284;
}

.logoIcon {
  width: 230.09px;
  height: 53.42px;
  flex-shrink: 0;
  color: #818284;
}

