.sixthBlock {
  position: relative;
  width: 100%;
  aspect-ratio: 1920 / 774;
  background: #003B3F;
  padding: 70px;
  display: flex;
  flex-direction: column;
}

.geographyTitle {
  font-family: 'Questrial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  line-height: 1.2;
  color: #FFFFFF;
  text-transform: uppercase;
  margin: 0 0 140px 0;
  padding: 0;
}

.geographyContent {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // gap: 40px;
}

.leftColumn,
.rightColumn {
  display: flex;
  flex-direction: column;
  // gap: 40px;
  flex: 1;
}

.centerColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 38px;
  flex-shrink: 0;
  height: 100%;
}

.locationItem {
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;
}

.locationContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  flex: 1;
  border-top: 1px solid #FFFFFF;
  justify-content: space-between;
}

.locationName {
  font-family: 'Questrial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 1.2;
  color: #FFFFFF;
  text-transform: uppercase;
  white-space: nowrap;
  margin-top: 48px;
  margin-bottom: 82px;
  // border-top: 1px solid #FFFFFF;
  padding-top: 10px;
}

.arrowLeft,
.arrowRight {
  width: 68px;
  height: 71px;
  flex-shrink: 0;
}

.pointIcon {
  width: 157.01211547851562px;
  height: 230.818359375px;
  opacity: 1;
}

.ourOffices {
  font-family: Questrial;
  font-weight: 400;
  font-style: Regular;
  font-size: 60px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: lowercase;
  padding: 0 100px;
}

