.sixthBlock {
  position: relative;
  width: 100%;
  // aspect-ratio: 1920 / 774;
  background: #003B3F;
  padding: 70px;
  display: flex;
  flex-direction: column;
}

.geographyTitle {
  font-family: 'Questrial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  line-height: 1.2;
  color: #FFFFFF;
  text-transform: uppercase;
  margin: 0 0 140px 0;
  padding: 0;
  will-change: transform, opacity;
}

.geographyContent {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // gap: 40px;
}

.leftContent {
  display: flex;
  flex: 1;
  align-items: center;
}

.leftColumn,
.rightColumn {
  display: flex;
  flex-direction: column;
  // gap: 40px;
  flex: 1;
}

.centerColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 38px;
  flex-shrink: 0;
  // height: 100%;
  will-change: transform, opacity;
}

.locationItem {
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;
  will-change: transform, opacity;
}

.locationContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  flex: 1;
  border-top: 1px solid #FFFFFF;
  justify-content: space-between;
}

.locationName {
  font-family: 'Questrial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 65px;
  line-height: 1.2;
  color: #FFFFFF;
  text-transform: uppercase;
  white-space: nowrap;
  margin-top: 48px;
  margin-bottom: 82px;
  // border-top: 1px solid #FFFFFF;
  padding-top: 10px;
}

.arrowLeft,
.arrowRight {
  width: 68px;
  height: 71px;
  flex-shrink: 0;
}

.pointIcon {
  width: 157.01211547851562px;
  height: 230.818359375px;
  opacity: 1;
}

.ourOffices {
  font-family: Questrial;
  font-weight: 400;
  font-style: Regular;
  font-size: 60px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: lowercase;
  padding: 0 100px;
}

// Desktop
@media (min-width: 1025px) and (max-width: 1440px) {
  .locationContent .locationName {
    font-size: 50px !important; // 48px - 8px
    margin-bottom: 52px !important;
  }
  
  .arrowLeft,
  .arrowRight {
    width: 60px !important; // 68px - 8px
    height: 63px !important; // 71px - 8px
  }
  
  .ourOffices {
    font-size: 50px !important; // 60px - 10px
    padding: 0 70px !important; // 100px - 15px
  }
  
  .pointIcon {
    width: 142px !important; // 157px - 15px
    height: 216px !important; // 231px - 15px
  }
}

// Small Desktop
@media (min-width: 769px) and (max-width: 1024px) {
  .locationContent .locationName {
    font-size: 42px !important; // 48px - 16px
    margin-bottom: 62px !important;
  }
  
  .arrowLeft,
  .arrowRight {
    width: 32px !important; // 68px - 16px
    height: 35px !important; // 71px - 16px
  }
  
  .ourOffices {
    font-size: 35px !important; // 60px - 20px
    padding: 0 50px !important; // 100px - 30px
  }
  
  .pointIcon {
    width: 107px !important; // 157px - 30px
    height: 181px !important; // 231px - 30px
  }
}

// Tablet
// @media (min-width: 481px) and (max-width: 768px) {
//   .locationContent .locationName {
//     font-size: 24px !important; // 48px - 24px
//     margin-bottom: 42px !important;
//   }
  
//   .arrowLeft,
//   .arrowRight {
//     width: 44px !important; // 68px - 24px
//     height: 47px !important; // 71px - 24px
//   }
  
//   .ourOffices {
//     font-size: 30px !important; // 60px - 30px
//     padding: 0 55px !important; // 100px - 45px
//   }
  
//   .pointIcon {
//     width: 112px !important; // 157px - 45px
//     height: 186px !important; // 231px - 45px
//   }
// }

// Mobile
@media (max-width: 768px) {
  .sixthBlock {
    padding: 20px 15px !important;
  }
  
  .locationContent .locationName {
    font-size: 16px !important; // 48px - 32px
    margin: 30px 0 !important;
  }
  
  .arrowLeft,
  .arrowRight {
    width: 18px !important; // 36px / 2
    height: 19.5px !important; // 39px / 2
  }
  
  .ourOffices {
    font-size: 20px !important; // 60px - 40px
    padding: 0 10px !important; // 100px - 60px
  }
  
  .centerColumn {
    gap: 10px !important;
  }
  
  .pointIcon {
    width: 48.5px !important; // 97px / 2
    height: 85.5px !important; // 171px / 2
  }
  .geographyTitle {
    font-size: 20px !important;
    margin-bottom: 30px;
    will-change: auto !important; // Убираем will-change на мобильных
  }
  
  .locationItem {
    will-change: auto !important; // Убираем will-change на мобильных
  }
  
  .centerColumn {
    will-change: auto !important; // Убираем will-change на мобильных
  }
}

