.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: visible;
}

.lottie {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 512px;
  height: 512px;
}

// Mobile
@media (max-width: 480px) {
  .lottie {
    transform: translate(-50%, -50%) scale(0.5);
  }
}
