.thirdBlock {
  width: 100%;
  // aspect-ratio: 1921 / 918;
  background: #9A2720;
  padding: 0;
  display: flex;
  flex-direction: column;
  position: relative;
  font-family: Questrial;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  padding-bottom: 80px;


  .valuesTitle {
    font-family: 'Questrial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 52px;
    line-height: 54px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-left: 70px;
    margin-top: 73px;
    margin-bottom: 119px;
    will-change: transform, opacity, filter;
  }

  .leadText {
    font-family: 'Questrial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 176px;
    line-height: 181px;
    text-transform: uppercase;
    color: #FFFFFF;
    white-space: pre;
    margin-left: 57px;
    will-change: transform, opacity, filter;
  }

  .leadLine {
    white-space: pre;
    will-change: transform, opacity, filter;
  }
}

@media (max-width: 1800px) {
  .thirdBlock {
    .leadText {
      font-size: 140px;
      line-height: 144px;
    }
  }
}

@media (max-width: 1600px) {
  .thirdBlock {
    .leadText {
      font-size: 120px;
      line-height: 124px;
    }
  }
}

@media (max-width: 1440px) {
  .thirdBlock {
    .valuesTitle {
      font-size: 32px;
      line-height: 34px;
      margin-left: 52px;
      margin-top: 55px;
      margin-bottom: 89px;
    }

    .leadText {
      font-size: 100px;
      line-height: 103px;
      margin-left: 43px;
    }
  }
}

@media (max-width: 1024px) {
  .thirdBlock {
    .valuesTitle {
      font-size: 24px;
      line-height: 26px;
      margin-left: 35px;
      margin-top: 44px;
      margin-bottom: 71px;
    }

    .leadText {
      font-size: 70px;
      line-height: 72px;
      margin-left: 34px;
    }
  }
}

@media (max-width: 768px) {
  .thirdBlock {
    .valuesTitle {
      font-size: 16px;
      line-height: 18px;
      margin-left: 20px;
      margin-top: 29px;
      margin-bottom: 48px;
    }

    .leadText {
      font-size: 45px;
      line-height: 47px;
      margin-left: 23px;
    }
  }
}

@media (max-width: 480px) {
  .thirdBlock {
    padding: 0 15px;
    aspect-ratio: 1921 / 1118;

    .valuesTitle {
      font-size: 20px;
      line-height: 14px;
      margin-left: 0;
      margin-top: 22px;
      margin-bottom: 36px;
    }

    .leadText {
      font-size: 32px;
      line-height: 34px;
      margin-left: 0;
    }
  }
}
