.seventhBlock {
  position: relative;
  width: 100%;
  aspect-ratio: 1920 / 1455;
  background: #EFF1F4;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 70px 40px 70px;
}

.step7Icon {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  :global(svg) {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

// Mobile
@media (max-width: 480px) {
  .seventhBlock {
    padding: 20px 15px !important;
  }
}

